.search-result {
  width: 100%;
  padding: 2rem;
}

.search-items {
  padding: 2rem;
  display: flex;
}

.search-image {
  margin-right: 2rem;
}

.search-image > a > img {
  height: 200px;
}

.search-item-description {
  padding: 0.5rem;
}

.search-item-description > h1 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.search-item-description > h1 > a {
  font-size: 1.2rem;
}

.search-item-description > h2 {
  margin-bottom: 0.3rem;
}
