.search-result {
  width: 100%;
  padding: 2rem;
}

.search-items {
  padding: 2rem;
  display: flex;
}

.search-image {
  margin-right: 2rem;
}

.search-image > a > img {
  height: 200px;
}

.search-item-description {
  padding: 0.5rem;
}

.search-item-description > h1 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.search-item-description > h1 > a {
  font-size: 1.2rem;
}

.search-item-description > h2 {
  margin-bottom: 0.3rem;
}

.search-pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-nav {
  list-style: none;
  display: flex;
  padding: 1rem;
}

.pagination-item {
  cursor: pointer;
  padding: 0 0.5rem 0 0.5rem;
  color: rgb(94, 38, 146);
}

.active {
  color: rgb(217, 214, 219);
}
